.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__botao:checked~.container__menu>.cabecalho__menu-hamburguer {
    background-image: url(../assets/Menu\ Aberto.svg);
}

.container__botao:checked~.container__menu {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista-menu__titulo {
    color: var(--texto-destaque);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
}

.logo__titulo,
.opcoes__lista,
.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburguer,
    .container__imagem-transparente,
    .opcoes__botao {
        display: none;
    }

    .logo__titulo {
        display: block;
        font-family: var(--fonte-titulo);
        font-weight: 400;
        font-size: 1.9rem;
    }


    .opcoes__botao:checked~.opcoes__menu-rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--cor-branco);
    }

    .logo__titulo--negrito {
        font-weight: 700;
    }

    .opcoes__lista {
        display: flex;
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--cor-branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 1em;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__texto {
        font-size: 1.25rem;
        display: block;
    }

    .opcoes__lista {
        margin-right: auto;
    }
}